<h1>bienvenido {{user.username}}</h1>
{{#each user.favorites}}
<img src={{thumbnail}} alt={{title}}>
<p>{{id}}</p>
<p>{{title}}</p>
<p>{{genre}}</p>
<form action = "/delete-favorite" method="POST">
    <input type="hidden" name="_id" value={{_id}}>

<button type="submit">Borrar favorito</button>
</form>
{{/each}}