<h1>Welcome {{user.username}}</h1>
{{#each userGames.favorites}}
<img src={{thumbnail}} alt={{title}}>
<p>{{id}}</p>
<p>Title: {{title}}</p>
<p>Genre: {{genre}}</p>
<p>Description: {{short_description}}</p>


{{!-- <form action="/add-comment" method="post">
<input type="hidden" name="id" value={{id}}>
<div>
<textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
Add a comment!
</textarea>
</div>
<input type="submit" value="Crear">
</form> --}}

<form action = "/delete-favorite" method="POST">
    <input type="hidden" name="_id" value={{_id}}>

<button type="submit">Delete favorite</button>
</form>
<br>
{{/each}}
{{!-- para borrar --}}