<h1>Feedback from {{game.title}}</h1>
{{#with gameDetails}}
<img src={{thumbnail}} alt={{title}}>
<p>{{id}}</p>
<p>{{short_description}}</p>
<p>{{game_url}}</p>
<p>{{genre}}</p>
<p>{{platform}}</p>
<p>{{publisher}}</p>
<p>{{developer}}</p>
<p>{{release_date}}</p>
<p>{{freetogame_profile_url}}</p>

{{/with}}

<p>Users Feedback</p>
<p>{{comment}}</p>